.FilaPalabra {
    border: 3px solid #000000
}
.CeldaPalabra{
    text-transform: uppercase;
    text-align: center;
    user-select: none;
    font: bold 52px sans-serif;
    border: 3px solid #000000;
}
#ContenedorJuego{
    display: flex;
    justify-content: center;
    align-content: center;
}
#ContenedorPalabras{
    display: flex;
    justify-content: center;
    width: 650px;
}
#TablaJuego{
    position: relative;
    height: 480px;
    width: 480px;
    top: 120px;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #FFFFFF;
}
#ListaPalabras{
    position: relative;
    left: 1100px;
    bottom: 360px;
    align-content: center;
    width: 300px;
    box-sizing: border-box;
    border: 20px solid #000000;
    background-color: #00c7bd;
}
#ContenedorPalabras>p{
    text-align: center;
}
#ListaPalabras>.PalabraFormada{
    margin: 0px;
    padding: 20px 0px 20px 20px;
    text-align: left;
    background-color: #8ac500;
}